/*General styling*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  color: #333;
  background-color: white;
}
ul{
    list-style-type: none;
}
li{
  list-style-type: none;
}
/* Header Styling*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(54, 196, 153);
  padding: 10px 20px;
  color: black;
  flex-wrap: wrap;
}
header ul {
  list-style: none;
  gap: 15px;
}
header ul li{
    font-weight: bold;
    font-size: 25px;
}
    
header input[type="text"] {
  padding: 8px 12px;
  border: none;
  border-radius: 4px 0 4px 0px;
  outline: none;
  width: 300px;
}
header i.fa-search {
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px 0px 4px 0;
  cursor: pointer;
  
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  font-size: 17px;
}
.icons i {
  margin-right: 8px;
  margin-bottom: 4px;
  color: #ce242c; 
}

/* Navigation bar styling*/
nav {
  background-color: #070808; 
  padding: 10px 20px;
  
}
nav ul {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  
}
nav ul li a:hover{
    background-color: #333;
}

/* Image Styling*/
div>img{
    width:100% ;
    height: 400px;
    display:block ;
    margin: none;
}

/*Paragraph Styling*/
p {
  width: 75%;
  margin: 20px auto;
  padding: 0 20px;
  font-size: 1.1em;
  line-height: 1.3;
  
  font-weight: bold;
}
h3{
    position: relative;
    text-align: center;
    font-weight: bolder;
}
/* Content sections with images and text */
.Image_and_text{
    align-items: center;
    display: flex;
    justify-items: center;
}
.image{
    width: 4000px;
    margin: none;
    padding: 100px;
}
/*Content_Sections_With_Navigation_text*/

.Navigation_text{
  border-radius: 50;
    padding: 0%;
    width: 5vw;
    border: unset;
    font-size: 1.5rem;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 20px;
}
div > div >a{
    text-decoration: none;
    color: black;
    
}
.home{
  
    background-color: rgb(108, 228, 108);
    height: 70px;
     width: 400px;
     border-radius: 100px;
}
.explore{
    background-color:rgb(158, 214, 158) ;
    height: 70px;
     width: 400px;
     border-radius: 100px;
}
.museum_programs{
    background-color:rgb(239, 72, 245) ;
    height: 70px;
    width: 400px;
    border-radius: 100px;
}
.events{
    background-color:rgb(98, 189, 241);
    height: 70px;
     width: 400px;
     border-radius: 100px;
}
.visit_us{
    background-color:rgb(46, 83, 248) ;
    height: 70px;
     width: 400px;
     border-radius: 100px;
}
.exhibitions{
    background-color: rgb(44, 47, 219);
    height: 70px;
     width: 400px;
     border-radius: 100px;
}


/*footer styling*/
footer{
    background-color:rgb(54, 196, 153);
    margin: 0%;
    padding: 0;
}
.null{
    background-color: #070808;
    margin: 0%;
    height: 6px;
}
.follow_pay_icons{
display:grid;
grid-template-columns: 1fr 2fr;
grid-gap: 3cap
}

footer >div > p{
    align-items: center;
}
footer i{
    font-size: 40px;
}
footer i :hover{
    cursor: pointer;
}
.remarks{
    display: flex;
}